<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AppleStoreDBConnectionString" connectionString="Data Source=DESKTOP-HSSVDLO;Initial Catalog=AppleStoreDB;Integrated Security=True;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    <add name="AppleStoreDBEntities" connectionString="metadata=res://*/Prodcuts.csdl|res://*/Prodcuts.ssdl|res://*/Prodcuts.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-HSSVDLO;initial catalog=AppleStoreDB;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>